#Search { 

    margin: 10px 10px 10px 25px;
    width:40%;

}


#most_viewed { margin: 10px; padding: 5px; width: 15%; border: solid 1px; height: 240px; position: absolute; left: 58%; right: 10%; top: 10%; }




#TopRated { border: 0; margin: 10px; padding: 5px; position: absolute; left: 50%; right: 10%; top: 10%;  }


#MostRecent {  margin: 10px; padding: 5px; width: 15%; height: 240px; border:1px solid black; position: absolute; left: 58%; right: 10%;top:66%;



}



#TopNews { 

    position:absolute;
  left:850px;
  top:210px;

}